-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "public"."Role" AS ENUM ('admin', 'data_entry', 'sales', 'coordinator', 'finance', 'team_leader', 'driver');

-- CreateEnum
CREATE TYPE "public"."Gender" AS ENUM ('male', 'female', 'other');

-- CreateEnum
CREATE TYPE "public"."TransactionStatus" AS ENUM ('unbilled', 'billed', 'paid');

-- CreateEnum
CREATE TYPE "public"."NominationStatus" AS ENUM ('new', 'contacting', 'contacted_approved', 'contacted_rejected');

-- CreateEnum
CREATE TYPE "public"."AppointmentStatus" AS ENUM ('scheduled', 'completed', 'cancelled', 'no_show', 'assigned');

-- CreateEnum
CREATE TYPE "public"."TaskStatus" AS ENUM ('pending', 'in_progress', 'completed', 'cancelled');

-- CreateEnum
CREATE TYPE "public"."TaskPriority" AS ENUM ('LOW', 'MEDIUM', 'HIGH', 'URGENT');

-- CreateEnum
CREATE TYPE "public"."TargetType" AS ENUM ('daily', 'weekly', 'monthly');

-- CreateEnum
CREATE TYPE "public"."ImportExportStatus" AS ENUM ('success', 'failed');

-- CreateEnum
CREATE TYPE "public"."ActionType" AS ENUM ('import', 'export');

-- CreateEnum
CREATE TYPE "public"."AccountStatus" AS ENUM ('active', 'inactive');

-- CreateEnum
CREATE TYPE "public"."CommissionType" AS ENUM ('PATIENT_CREATION', 'VISIT_SPECIALITY_ADDITION', 'NOMINATION_CONVERSION', 'MANUAL_ADJUSTMENT', 'FOLLOW_UP');

-- CreateEnum
CREATE TYPE "public"."VisitSpecialityStatus" AS ENUM ('scheduled', 'in_progress', 'completed', 'cancelled', 'no_show');

-- CreateEnum
CREATE TYPE "public"."AppointmentSpecialityStatus" AS ENUM ('scheduled', 'confirmed', 'completed', 'cancelled', 'no_show');

-- CreateEnum
CREATE TYPE "public"."MedicalServiceStatus" AS ENUM ('not_scheduled', 'scheduled', 'in_progress', 'completed', 'cancelled', 'failed');

-- CreateEnum
CREATE TYPE "public"."MedicalEventType" AS ENUM ('consultation', 'surgery', 'lab', 'xray', 'referral', 'follow_up', 'emergency', 'routine_check');

-- CreateEnum
CREATE TYPE "public"."NotificationType" AS ENUM ('TASK_ASSIGNED', 'PATIENT_ASSIGNED', 'INACTIVITY_ALERT', 'APPOINTMENT_REMINDER', 'NOMINATION_STATUS', 'TRANSACTION_EXPORT_REMINDER', 'SYSTEM_ALERT', 'SECURITY_ALERT', 'COMMISSION_EARNED', 'VISIT_SPECIALITY_ADDED', 'NOMINATION_CONVERTED');

-- CreateEnum
CREATE TYPE "public"."NotificationChannel" AS ENUM ('IN_APP', 'SMS', 'EMAIL');

-- CreateEnum
CREATE TYPE "public"."NotificationPriority" AS ENUM ('LOW', 'MEDIUM', 'HIGH', 'URGENT');

-- CreateEnum
CREATE TYPE "public"."AuditSeverity" AS ENUM ('info', 'warning', 'error', 'critical');

-- CreateEnum
CREATE TYPE "public"."FollowUpTaskStatus" AS ENUM ('pending', 'in_progress', 'completed');

-- CreateTable
CREATE TABLE "public"."Appointment" (
    "id" TEXT NOT NULL,
    "patientId" TEXT NOT NULL,
    "visitId" TEXT,
    "scheduledDate" TIMESTAMP(3) NOT NULL,
    "status" "public"."AppointmentStatus" NOT NULL,
    "createdById" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "bookingSource" TEXT,
    "familyMemberId" TEXT,
    "hospitalId" TEXT NOT NULL,
    "isMobileBooking" BOOLEAN NOT NULL DEFAULT false,
    "pointsAwarded" INTEGER NOT NULL DEFAULT 0,
    "salesPersonId" TEXT NOT NULL,
    "serviceType" TEXT,
    "speciality" TEXT,
    "driverId" TEXT,
    "driverNeeded" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "Appointment_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."AppointmentSpeciality" (
    "id" TEXT NOT NULL,
    "appointmentId" TEXT NOT NULL,
    "specialityId" TEXT NOT NULL,
    "doctorId" TEXT NOT NULL,
    "scheduledTime" TIMESTAMP(3) NOT NULL,
    "status" "public"."AppointmentSpecialityStatus" NOT NULL DEFAULT 'scheduled',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "AppointmentSpeciality_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."AuditLog" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "action" TEXT NOT NULL,
    "entityType" TEXT NOT NULL,
    "entityId" TEXT,
    "beforeData" JSONB,
    "afterData" JSONB,
    "ipAddress" TEXT,
    "userAgent" TEXT,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "severity" "public"."AuditSeverity" NOT NULL DEFAULT 'info',
    "details" TEXT,

    CONSTRAINT "AuditLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Commission" (
    "id" TEXT NOT NULL,
    "employeeId" TEXT NOT NULL,
    "amount" INTEGER NOT NULL DEFAULT 1,
    "type" "public"."CommissionType" NOT NULL,
    "description" TEXT NOT NULL,
    "patientId" TEXT,
    "visitSpecialityId" TEXT,
    "nominationId" TEXT,
    "period" TEXT NOT NULL,
    "isProcessed" BOOLEAN NOT NULL DEFAULT false,
    "processedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Commission_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Doctor" (
    "id" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "name" TEXT NOT NULL,
    "email" TEXT,
    "hospitalId" TEXT NOT NULL,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "phone" TEXT,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Doctor_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Employee" (
    "id" TEXT NOT NULL,
    "password" TEXT NOT NULL,
    "phone" TEXT NOT NULL,
    "role" "public"."Role" NOT NULL,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "accountStatus" "public"."AccountStatus" NOT NULL,
    "commissions" INTEGER NOT NULL DEFAULT 0,
    "dailyTarget" INTEGER NOT NULL DEFAULT 0,
    "employeeId" TEXT,
    "monthlyTarget" INTEGER NOT NULL DEFAULT 0,
    "name" TEXT NOT NULL,
    "rank" INTEGER NOT NULL DEFAULT 0,
    "rating" DOUBLE PRECISION NOT NULL DEFAULT 0.0,
    "sales" INTEGER NOT NULL DEFAULT 0,
    "weeklyTarget" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "Employee_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."EmployeeRole" (
    "id" TEXT NOT NULL,
    "employeeId" TEXT NOT NULL,
    "role" "public"."Role" NOT NULL,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "assignedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "assignedById" TEXT NOT NULL,

    CONSTRAINT "EmployeeRole_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."family_members" (
    "id" TEXT NOT NULL,
    "firstName" TEXT NOT NULL,
    "lastName" TEXT NOT NULL,
    "dateOfBirth" TIMESTAMP(3) NOT NULL,
    "gender" "public"."Gender" NOT NULL,
    "relationship" TEXT NOT NULL,
    "phone" TEXT,
    "email" TEXT,
    "medicalHistory" TEXT,
    "allergies" TEXT,
    "insuranceInfo" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "qrCodeData" TEXT NOT NULL,
    "profileImageUrl" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "points" INTEGER NOT NULL DEFAULT 0,
    "specialities" TEXT[],
    "services" TEXT[],
    "patientId" TEXT NOT NULL,

    CONSTRAINT "family_members_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Hospital" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "address" TEXT,
    "contactInfo" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Hospital_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."ImportExportLog" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "actionType" "public"."ActionType" NOT NULL,
    "entityType" TEXT NOT NULL,
    "status" "public"."ImportExportStatus" NOT NULL,
    "fileName" TEXT,
    "fileSize" INTEGER,
    "recordCount" INTEGER,
    "errorMessage" TEXT,
    "metadata" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "completedAt" TIMESTAMP(3),

    CONSTRAINT "ImportExportLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."mobile_notifications" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "message" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "isRead" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "patientId" TEXT NOT NULL,

    CONSTRAINT "mobile_notifications_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Nomination" (
    "id" TEXT NOT NULL,
    "visitId" TEXT NOT NULL,
    "referrerId" TEXT NOT NULL,
    "salesId" TEXT NOT NULL,
    "coordinatorId" TEXT NOT NULL,
    "nominatedPatientName" TEXT NOT NULL,
    "nominatedPatientPhone" TEXT NOT NULL,
    "status" "public"."NominationStatus" NOT NULL,
    "convertedToPatientId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Nomination_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Notification" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "content" TEXT NOT NULL,
    "isRead" BOOLEAN NOT NULL DEFAULT false,
    "isArchived" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "channels" "public"."NotificationChannel" NOT NULL,
    "metadata" JSONB,
    "priority" "public"."NotificationPriority" NOT NULL DEFAULT 'MEDIUM',
    "scheduledAt" TIMESTAMP(3),
    "sentAt" TIMESTAMP(3),
    "title" TEXT NOT NULL,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "type" "public"."NotificationType" NOT NULL,

    CONSTRAINT "Notification_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."NotificationPreference" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "soundEnabled" BOOLEAN NOT NULL DEFAULT true,
    "smsEnabled" BOOLEAN NOT NULL DEFAULT true,
    "emailEnabled" BOOLEAN NOT NULL DEFAULT true,
    "appointmentNotifications" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "inAppEnabled" BOOLEAN NOT NULL DEFAULT true,
    "nominationNotifications" BOOLEAN NOT NULL DEFAULT true,
    "patientNotifications" BOOLEAN NOT NULL DEFAULT true,
    "quietHoursEnd" TEXT,
    "quietHoursStart" TEXT,
    "systemNotifications" BOOLEAN NOT NULL DEFAULT true,
    "taskNotifications" BOOLEAN NOT NULL DEFAULT true,
    "timezone" TEXT NOT NULL DEFAULT 'UTC',
    "transactionNotifications" BOOLEAN NOT NULL DEFAULT true,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "NotificationPreference_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."NotificationTemplate" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "type" "public"."NotificationType" NOT NULL,
    "title" TEXT NOT NULL,
    "content" TEXT NOT NULL,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "variables" TEXT[],
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "defaultChannel" "public"."NotificationChannel" NOT NULL,
    "defaultPriority" "public"."NotificationPriority" NOT NULL DEFAULT 'MEDIUM',

    CONSTRAINT "NotificationTemplate_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Patient" (
    "id" TEXT NOT NULL,
    "nameEnglish" TEXT NOT NULL,
    "nameArabic" TEXT NOT NULL,
    "nationalId" TEXT NOT NULL,
    "phoneNumber" TEXT NOT NULL,
    "nationality" TEXT,
    "dob" TIMESTAMP(3),
    "gender" "public"."Gender",
    "residencyEmirate" TEXT,
    "jobTitle" TEXT,
    "referredById" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "assignedHospitalId" TEXT,
    "deviceTokens" TEXT[],
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "lastLoginAt" TIMESTAMP(3),
    "points" INTEGER NOT NULL DEFAULT 0,
    "preferences" JSONB,
    "profileImageUrl" TEXT,
    "qrCodeData" TEXT NOT NULL,
    "referralSource" TEXT,
    "salesPersonId" TEXT,
    "services" TEXT[],
    "specialities" TEXT[],
    "insuranceTypeId" TEXT,

    CONSTRAINT "Patient_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."PatientAssignmentHistory" (
    "id" TEXT NOT NULL,
    "patientId" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "role" "public"."Role" NOT NULL,
    "assignedById" TEXT NOT NULL,
    "assignedAt" TIMESTAMP(3) NOT NULL,
    "unassignedAt" TIMESTAMP(3),

    CONSTRAINT "PatientAssignmentHistory_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."PatientHospitalMRN" (
    "id" TEXT NOT NULL,
    "patientId" TEXT NOT NULL,
    "hospitalId" TEXT NOT NULL,
    "mrn" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "PatientHospitalMRN_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Permission" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "resource" TEXT NOT NULL,
    "action" TEXT NOT NULL,

    CONSTRAINT "Permission_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."RolePermission" (
    "id" TEXT NOT NULL,
    "role" "public"."Role" NOT NULL,
    "permissionId" TEXT NOT NULL,

    CONSTRAINT "RolePermission_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."scan_records" (
    "id" TEXT NOT NULL,
    "scannedId" TEXT NOT NULL,
    "scannedType" TEXT NOT NULL,
    "displayName" TEXT NOT NULL,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "coordinatorId" TEXT NOT NULL,
    "patientId" TEXT,
    "familyMemberId" TEXT,
    "visitConfirmed" BOOLEAN NOT NULL DEFAULT false,
    "pointsAwarded" INTEGER NOT NULL DEFAULT 0,
    "specialitiesAdded" TEXT[],
    "servicesAdded" TEXT[],

    CONSTRAINT "scan_records_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Speciality" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "nameArabic" TEXT,
    "category" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Speciality_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."DoctorSpecialty" (
    "id" TEXT NOT NULL,
    "doctorId" TEXT NOT NULL,
    "specialityId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "DoctorSpecialty_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Target" (
    "id" TEXT NOT NULL,
    "assignedToId" TEXT NOT NULL,
    "assignedById" TEXT NOT NULL,
    "type" "public"."TargetType" NOT NULL,
    "category" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "targetValue" INTEGER NOT NULL,
    "currentValue" INTEGER NOT NULL DEFAULT 0,
    "startDate" TIMESTAMP(3) NOT NULL,
    "endDate" TIMESTAMP(3) NOT NULL,
    "completedAt" TIMESTAMP(3),
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Target_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."TargetProgress" (
    "id" TEXT NOT NULL,
    "targetId" TEXT NOT NULL,
    "date" TIMESTAMP(3) NOT NULL,
    "progress" INTEGER NOT NULL DEFAULT 0,
    "notes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "TargetProgress_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."TargetResetLog" (
    "id" TEXT NOT NULL,
    "targetId" TEXT NOT NULL,
    "resetType" TEXT NOT NULL,
    "resetDate" TIMESTAMP(3) NOT NULL,
    "previousValue" INTEGER NOT NULL,
    "newValue" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "TargetResetLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Task" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL DEFAULT 'Untitled Task',
    "description" TEXT NOT NULL DEFAULT 'No description provided',
    "status" "public"."TaskStatus" NOT NULL DEFAULT 'pending',
    "priority" "public"."TaskPriority" NOT NULL DEFAULT 'MEDIUM',
    "assignedToId" TEXT NOT NULL,
    "assignedById" TEXT NOT NULL,
    "dueDate" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "completedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "taskType" TEXT,
    "relatedEntityId" TEXT,
    "relatedEntityType" TEXT,
    "metadata" JSONB,
    "actions" JSONB,
    "actionNotes" JSONB,

    CONSTRAINT "Task_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."TaskType" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "TaskType_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."InsuranceType" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "InsuranceType_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Transaction" (
    "id" TEXT NOT NULL,
    "patientId" TEXT NOT NULL,
    "totalRevenue" DOUBLE PRECISION NOT NULL,
    "companyShare" DOUBLE PRECISION NOT NULL,
    "eligibleAmount" DOUBLE PRECISION NOT NULL,
    "referralShare" DOUBLE PRECISION NOT NULL,
    "recordedById" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "hospitalId" TEXT NOT NULL,
    "month" TEXT,
    "source" TEXT NOT NULL DEFAULT 'manual',
    "year" TEXT,
    "status" TEXT NOT NULL,

    CONSTRAINT "Transaction_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."TransactionVisitSpeciality" (
    "id" TEXT NOT NULL,
    "transactionId" TEXT NOT NULL,
    "visitSpecialityId" TEXT NOT NULL,

    CONSTRAINT "TransactionVisitSpeciality_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Visit" (
    "id" TEXT NOT NULL,
    "patientId" TEXT NOT NULL,
    "hospitalId" TEXT NOT NULL,
    "coordinatorId" TEXT NOT NULL,
    "salesId" TEXT NOT NULL,
    "visitDate" TIMESTAMP(3) NOT NULL,
    "isEmergency" BOOLEAN DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Visit_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."VisitSpeciality" (
    "id" TEXT NOT NULL,
    "visitId" TEXT NOT NULL,
    "specialityId" TEXT NOT NULL,
    "doctorId" TEXT NOT NULL,
    "scheduledTime" TIMESTAMP(3) NOT NULL,
    "status" "public"."VisitSpecialityStatus" NOT NULL DEFAULT 'scheduled',
    "details" TEXT,
    "doctorName" TEXT,
    "serviceTime" TIMESTAMP(3),
    "eventType" "public"."MedicalEventType",
    "eventDescription" TEXT,
    "eventNotes" TEXT,
    "eventOutcome" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "VisitSpeciality_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."FollowUpTask" (
    "id" TEXT NOT NULL,
    "patientId" TEXT NOT NULL,
    "assignedToId" TEXT NOT NULL,
    "assignedById" TEXT NOT NULL,
    "status" "public"."FollowUpTaskStatus" NOT NULL DEFAULT 'pending',
    "notes" TEXT,
    "taskId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "FollowUpTask_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."EscortTask" (
    "id" TEXT NOT NULL,
    "appointmentId" TEXT NOT NULL,
    "driverId" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'pending',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "EscortTask_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."SpecialtyTask" (
    "id" TEXT NOT NULL,
    "visitId" TEXT NOT NULL,
    "coordinatorId" TEXT NOT NULL,
    "specialtyName" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'pending',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "SpecialtyTask_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."NominationTask" (
    "id" TEXT NOT NULL,
    "nominationId" TEXT NOT NULL,
    "coordinatorId" TEXT NOT NULL,
    "patientName" TEXT NOT NULL,
    "patientPhone" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'pending',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "NominationTask_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."DataEntryTask" (
    "id" TEXT NOT NULL,
    "patientId" TEXT NOT NULL,
    "dataEntryId" TEXT NOT NULL,
    "missingFields" TEXT[],
    "status" TEXT NOT NULL DEFAULT 'pending',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "DataEntryTask_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."SalesContactTask" (
    "id" TEXT NOT NULL,
    "nominationId" TEXT NOT NULL,
    "salesId" TEXT NOT NULL,
    "patientName" TEXT NOT NULL,
    "patientPhone" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'pending',
    "approvalStatus" TEXT,
    "notes" TEXT,
    "nationalId" TEXT,
    "hospitalId" TEXT,
    "specialties" TEXT[],
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "SalesContactTask_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "Appointment_patientId_idx" ON "public"."Appointment"("patientId");

-- CreateIndex
CREATE INDEX "Appointment_visitId_idx" ON "public"."Appointment"("visitId");

-- CreateIndex
CREATE INDEX "Appointment_hospitalId_idx" ON "public"."Appointment"("hospitalId");

-- CreateIndex
CREATE INDEX "Appointment_salesPersonId_idx" ON "public"."Appointment"("salesPersonId");

-- CreateIndex
CREATE INDEX "Appointment_scheduledDate_idx" ON "public"."Appointment"("scheduledDate");

-- CreateIndex
CREATE INDEX "Appointment_status_idx" ON "public"."Appointment"("status");

-- CreateIndex
CREATE INDEX "Appointment_createdById_idx" ON "public"."Appointment"("createdById");

-- CreateIndex
CREATE INDEX "Appointment_createdAt_idx" ON "public"."Appointment"("createdAt");

-- CreateIndex
CREATE INDEX "Appointment_updatedAt_idx" ON "public"."Appointment"("updatedAt");

-- CreateIndex
CREATE INDEX "AppointmentSpeciality_appointmentId_idx" ON "public"."AppointmentSpeciality"("appointmentId");

-- CreateIndex
CREATE INDEX "AppointmentSpeciality_specialityId_idx" ON "public"."AppointmentSpeciality"("specialityId");

-- CreateIndex
CREATE INDEX "AppointmentSpeciality_doctorId_idx" ON "public"."AppointmentSpeciality"("doctorId");

-- CreateIndex
CREATE INDEX "AppointmentSpeciality_status_idx" ON "public"."AppointmentSpeciality"("status");

-- CreateIndex
CREATE INDEX "AppointmentSpeciality_scheduledTime_idx" ON "public"."AppointmentSpeciality"("scheduledTime");

-- CreateIndex
CREATE INDEX "AppointmentSpeciality_createdAt_idx" ON "public"."AppointmentSpeciality"("createdAt");

-- CreateIndex
CREATE INDEX "AppointmentSpeciality_updatedAt_idx" ON "public"."AppointmentSpeciality"("updatedAt");

-- CreateIndex
CREATE UNIQUE INDEX "AppointmentSpeciality_appointmentId_specialityId_doctorId_key" ON "public"."AppointmentSpeciality"("appointmentId", "specialityId", "doctorId");

-- CreateIndex
CREATE INDEX "AuditLog_userId_idx" ON "public"."AuditLog"("userId");

-- CreateIndex
CREATE INDEX "AuditLog_action_idx" ON "public"."AuditLog"("action");

-- CreateIndex
CREATE INDEX "AuditLog_entityType_idx" ON "public"."AuditLog"("entityType");

-- CreateIndex
CREATE INDEX "AuditLog_entityId_idx" ON "public"."AuditLog"("entityId");

-- CreateIndex
CREATE INDEX "AuditLog_severity_idx" ON "public"."AuditLog"("severity");

-- CreateIndex
CREATE INDEX "AuditLog_timestamp_idx" ON "public"."AuditLog"("timestamp");

-- CreateIndex
CREATE INDEX "AuditLog_ipAddress_idx" ON "public"."AuditLog"("ipAddress");

-- CreateIndex
CREATE INDEX "AuditLog_userId_timestamp_idx" ON "public"."AuditLog"("userId", "timestamp");

-- CreateIndex
CREATE INDEX "AuditLog_entityType_entityId_idx" ON "public"."AuditLog"("entityType", "entityId");

-- CreateIndex
CREATE INDEX "AuditLog_action_timestamp_idx" ON "public"."AuditLog"("action", "timestamp");

-- CreateIndex
CREATE INDEX "AuditLog_severity_timestamp_idx" ON "public"."AuditLog"("severity", "timestamp");

-- CreateIndex
CREATE INDEX "Commission_employeeId_idx" ON "public"."Commission"("employeeId");

-- CreateIndex
CREATE INDEX "Commission_type_idx" ON "public"."Commission"("type");

-- CreateIndex
CREATE INDEX "Commission_period_idx" ON "public"."Commission"("period");

-- CreateIndex
CREATE INDEX "Commission_isProcessed_idx" ON "public"."Commission"("isProcessed");

-- CreateIndex
CREATE INDEX "Commission_patientId_idx" ON "public"."Commission"("patientId");

-- CreateIndex
CREATE INDEX "Commission_visitSpecialityId_idx" ON "public"."Commission"("visitSpecialityId");

-- CreateIndex
CREATE INDEX "Commission_nominationId_idx" ON "public"."Commission"("nominationId");

-- CreateIndex
CREATE INDEX "Commission_createdAt_idx" ON "public"."Commission"("createdAt");

-- CreateIndex
CREATE INDEX "Commission_processedAt_idx" ON "public"."Commission"("processedAt");

-- CreateIndex
CREATE INDEX "Commission_employeeId_type_period_idx" ON "public"."Commission"("employeeId", "type", "period");

-- CreateIndex
CREATE INDEX "Commission_employeeId_isProcessed_idx" ON "public"."Commission"("employeeId", "isProcessed");

-- CreateIndex
CREATE INDEX "Commission_type_period_idx" ON "public"."Commission"("type", "period");

-- CreateIndex
CREATE INDEX "Doctor_name_idx" ON "public"."Doctor"("name");

-- CreateIndex
CREATE INDEX "Doctor_hospitalId_idx" ON "public"."Doctor"("hospitalId");

-- CreateIndex
CREATE INDEX "Doctor_isActive_idx" ON "public"."Doctor"("isActive");

-- CreateIndex
CREATE INDEX "Doctor_createdAt_idx" ON "public"."Doctor"("createdAt");

-- CreateIndex
CREATE INDEX "Doctor_updatedAt_idx" ON "public"."Doctor"("updatedAt");

-- CreateIndex
CREATE UNIQUE INDEX "Employee_employeeId_key" ON "public"."Employee"("employeeId");

-- CreateIndex
CREATE INDEX "Employee_name_idx" ON "public"."Employee"("name");

-- CreateIndex
CREATE INDEX "Employee_phone_idx" ON "public"."Employee"("phone");

-- CreateIndex
CREATE INDEX "Employee_role_idx" ON "public"."Employee"("role");

-- CreateIndex
CREATE INDEX "Employee_isActive_idx" ON "public"."Employee"("isActive");

-- CreateIndex
CREATE INDEX "Employee_commissions_idx" ON "public"."Employee"("commissions");

-- CreateIndex
CREATE INDEX "Employee_sales_idx" ON "public"."Employee"("sales");

-- CreateIndex
CREATE INDEX "Employee_rating_idx" ON "public"."Employee"("rating");

-- CreateIndex
CREATE INDEX "Employee_createdAt_idx" ON "public"."Employee"("createdAt");

-- CreateIndex
CREATE INDEX "EmployeeRole_employeeId_idx" ON "public"."EmployeeRole"("employeeId");

-- CreateIndex
CREATE INDEX "EmployeeRole_role_idx" ON "public"."EmployeeRole"("role");

-- CreateIndex
CREATE INDEX "EmployeeRole_isActive_idx" ON "public"."EmployeeRole"("isActive");

-- CreateIndex
CREATE INDEX "EmployeeRole_assignedAt_idx" ON "public"."EmployeeRole"("assignedAt");

-- CreateIndex
CREATE UNIQUE INDEX "EmployeeRole_employeeId_role_key" ON "public"."EmployeeRole"("employeeId", "role");

-- CreateIndex
CREATE UNIQUE INDEX "family_members_qrCodeData_key" ON "public"."family_members"("qrCodeData");

-- CreateIndex
CREATE UNIQUE INDEX "Hospital_name_key" ON "public"."Hospital"("name");

-- CreateIndex
CREATE INDEX "Hospital_name_idx" ON "public"."Hospital"("name");

-- CreateIndex
CREATE INDEX "Hospital_createdAt_idx" ON "public"."Hospital"("createdAt");

-- CreateIndex
CREATE INDEX "ImportExportLog_userId_idx" ON "public"."ImportExportLog"("userId");

-- CreateIndex
CREATE INDEX "ImportExportLog_actionType_idx" ON "public"."ImportExportLog"("actionType");

-- CreateIndex
CREATE INDEX "ImportExportLog_entityType_idx" ON "public"."ImportExportLog"("entityType");

-- CreateIndex
CREATE INDEX "ImportExportLog_status_idx" ON "public"."ImportExportLog"("status");

-- CreateIndex
CREATE INDEX "ImportExportLog_createdAt_idx" ON "public"."ImportExportLog"("createdAt");

-- CreateIndex
CREATE INDEX "ImportExportLog_completedAt_idx" ON "public"."ImportExportLog"("completedAt");

-- CreateIndex
CREATE INDEX "ImportExportLog_userId_actionType_idx" ON "public"."ImportExportLog"("userId", "actionType");

-- CreateIndex
CREATE INDEX "ImportExportLog_status_createdAt_idx" ON "public"."ImportExportLog"("status", "createdAt");

-- CreateIndex
CREATE INDEX "Nomination_visitId_idx" ON "public"."Nomination"("visitId");

-- CreateIndex
CREATE INDEX "Nomination_referrerId_idx" ON "public"."Nomination"("referrerId");

-- CreateIndex
CREATE INDEX "Nomination_salesId_idx" ON "public"."Nomination"("salesId");

-- CreateIndex
CREATE INDEX "Nomination_coordinatorId_idx" ON "public"."Nomination"("coordinatorId");

-- CreateIndex
CREATE INDEX "Nomination_status_idx" ON "public"."Nomination"("status");

-- CreateIndex
CREATE INDEX "Nomination_convertedToPatientId_idx" ON "public"."Nomination"("convertedToPatientId");

-- CreateIndex
CREATE INDEX "Nomination_createdAt_idx" ON "public"."Nomination"("createdAt");

-- CreateIndex
CREATE INDEX "Nomination_updatedAt_idx" ON "public"."Nomination"("updatedAt");

-- CreateIndex
CREATE INDEX "Notification_userId_idx" ON "public"."Notification"("userId");

-- CreateIndex
CREATE INDEX "Notification_type_idx" ON "public"."Notification"("type");

-- CreateIndex
CREATE INDEX "Notification_priority_idx" ON "public"."Notification"("priority");

-- CreateIndex
CREATE INDEX "Notification_isRead_idx" ON "public"."Notification"("isRead");

-- CreateIndex
CREATE INDEX "Notification_isArchived_idx" ON "public"."Notification"("isArchived");

-- CreateIndex
CREATE INDEX "Notification_scheduledAt_idx" ON "public"."Notification"("scheduledAt");

-- CreateIndex
CREATE INDEX "Notification_sentAt_idx" ON "public"."Notification"("sentAt");

-- CreateIndex
CREATE INDEX "Notification_createdAt_idx" ON "public"."Notification"("createdAt");

-- CreateIndex
CREATE INDEX "Notification_updatedAt_idx" ON "public"."Notification"("updatedAt");

-- CreateIndex
CREATE INDEX "Notification_userId_isRead_createdAt_idx" ON "public"."Notification"("userId", "isRead", "createdAt");

-- CreateIndex
CREATE INDEX "Notification_userId_type_createdAt_idx" ON "public"."Notification"("userId", "type", "createdAt");

-- CreateIndex
CREATE INDEX "Notification_scheduledAt_sentAt_idx" ON "public"."Notification"("scheduledAt", "sentAt");

-- CreateIndex
CREATE UNIQUE INDEX "NotificationPreference_userId_key" ON "public"."NotificationPreference"("userId");

-- CreateIndex
CREATE INDEX "NotificationPreference_soundEnabled_idx" ON "public"."NotificationPreference"("soundEnabled");

-- CreateIndex
CREATE INDEX "NotificationPreference_smsEnabled_idx" ON "public"."NotificationPreference"("smsEnabled");

-- CreateIndex
CREATE INDEX "NotificationPreference_emailEnabled_idx" ON "public"."NotificationPreference"("emailEnabled");

-- CreateIndex
CREATE INDEX "NotificationPreference_inAppEnabled_idx" ON "public"."NotificationPreference"("inAppEnabled");

-- CreateIndex
CREATE INDEX "NotificationPreference_createdAt_idx" ON "public"."NotificationPreference"("createdAt");

-- CreateIndex
CREATE INDEX "NotificationPreference_updatedAt_idx" ON "public"."NotificationPreference"("updatedAt");

-- CreateIndex
CREATE UNIQUE INDEX "NotificationTemplate_name_key" ON "public"."NotificationTemplate"("name");

-- CreateIndex
CREATE INDEX "NotificationTemplate_name_idx" ON "public"."NotificationTemplate"("name");

-- CreateIndex
CREATE INDEX "NotificationTemplate_type_idx" ON "public"."NotificationTemplate"("type");

-- CreateIndex
CREATE INDEX "NotificationTemplate_isActive_idx" ON "public"."NotificationTemplate"("isActive");

-- CreateIndex
CREATE INDEX "NotificationTemplate_createdAt_idx" ON "public"."NotificationTemplate"("createdAt");

-- CreateIndex
CREATE INDEX "NotificationTemplate_updatedAt_idx" ON "public"."NotificationTemplate"("updatedAt");

-- CreateIndex
CREATE UNIQUE INDEX "Patient_nationalId_key" ON "public"."Patient"("nationalId");

-- CreateIndex
CREATE UNIQUE INDEX "Patient_qrCodeData_key" ON "public"."Patient"("qrCodeData");

-- CreateIndex
CREATE INDEX "Patient_nationalId_idx" ON "public"."Patient"("nationalId");

-- CreateIndex
CREATE INDEX "Patient_phoneNumber_idx" ON "public"."Patient"("phoneNumber");

-- CreateIndex
CREATE INDEX "Patient_salesPersonId_idx" ON "public"."Patient"("salesPersonId");

-- CreateIndex
CREATE INDEX "Patient_assignedHospitalId_idx" ON "public"."Patient"("assignedHospitalId");

-- CreateIndex
CREATE INDEX "Patient_referralSource_idx" ON "public"."Patient"("referralSource");

-- CreateIndex
CREATE INDEX "Patient_createdAt_idx" ON "public"."Patient"("createdAt");

-- CreateIndex
CREATE INDEX "Patient_updatedAt_idx" ON "public"."Patient"("updatedAt");

-- CreateIndex
CREATE INDEX "PatientAssignmentHistory_patientId_idx" ON "public"."PatientAssignmentHistory"("patientId");

-- CreateIndex
CREATE INDEX "PatientAssignmentHistory_userId_idx" ON "public"."PatientAssignmentHistory"("userId");

-- CreateIndex
CREATE INDEX "PatientAssignmentHistory_role_idx" ON "public"."PatientAssignmentHistory"("role");

-- CreateIndex
CREATE INDEX "PatientAssignmentHistory_assignedAt_idx" ON "public"."PatientAssignmentHistory"("assignedAt");

-- CreateIndex
CREATE INDEX "PatientAssignmentHistory_unassignedAt_idx" ON "public"."PatientAssignmentHistory"("unassignedAt");

-- CreateIndex
CREATE INDEX "PatientHospitalMRN_patientId_idx" ON "public"."PatientHospitalMRN"("patientId");

-- CreateIndex
CREATE INDEX "PatientHospitalMRN_hospitalId_idx" ON "public"."PatientHospitalMRN"("hospitalId");

-- CreateIndex
CREATE INDEX "PatientHospitalMRN_mrn_idx" ON "public"."PatientHospitalMRN"("mrn");

-- CreateIndex
CREATE INDEX "PatientHospitalMRN_createdAt_idx" ON "public"."PatientHospitalMRN"("createdAt");

-- CreateIndex
CREATE INDEX "PatientHospitalMRN_updatedAt_idx" ON "public"."PatientHospitalMRN"("updatedAt");

-- CreateIndex
CREATE UNIQUE INDEX "PatientHospitalMRN_hospitalId_mrn_key" ON "public"."PatientHospitalMRN"("hospitalId", "mrn");

-- CreateIndex
CREATE UNIQUE INDEX "PatientHospitalMRN_patientId_hospitalId_key" ON "public"."PatientHospitalMRN"("patientId", "hospitalId");

-- CreateIndex
CREATE UNIQUE INDEX "Permission_name_key" ON "public"."Permission"("name");

-- CreateIndex
CREATE INDEX "Permission_name_idx" ON "public"."Permission"("name");

-- CreateIndex
CREATE INDEX "Permission_resource_idx" ON "public"."Permission"("resource");

-- CreateIndex
CREATE INDEX "Permission_action_idx" ON "public"."Permission"("action");

-- CreateIndex
CREATE INDEX "RolePermission_role_idx" ON "public"."RolePermission"("role");

-- CreateIndex
CREATE INDEX "RolePermission_permissionId_idx" ON "public"."RolePermission"("permissionId");

-- CreateIndex
CREATE INDEX "RolePermission_role_permissionId_idx" ON "public"."RolePermission"("role", "permissionId");

-- CreateIndex
CREATE UNIQUE INDEX "Speciality_name_key" ON "public"."Speciality"("name");

-- CreateIndex
CREATE INDEX "Speciality_name_idx" ON "public"."Speciality"("name");

-- CreateIndex
CREATE INDEX "Speciality_category_idx" ON "public"."Speciality"("category");

-- CreateIndex
CREATE INDEX "Speciality_isActive_idx" ON "public"."Speciality"("isActive");

-- CreateIndex
CREATE INDEX "Speciality_createdAt_idx" ON "public"."Speciality"("createdAt");

-- CreateIndex
CREATE INDEX "Speciality_updatedAt_idx" ON "public"."Speciality"("updatedAt");

-- CreateIndex
CREATE INDEX "DoctorSpecialty_doctorId_idx" ON "public"."DoctorSpecialty"("doctorId");

-- CreateIndex
CREATE INDEX "DoctorSpecialty_specialityId_idx" ON "public"."DoctorSpecialty"("specialityId");

-- CreateIndex
CREATE INDEX "DoctorSpecialty_createdAt_idx" ON "public"."DoctorSpecialty"("createdAt");

-- CreateIndex
CREATE UNIQUE INDEX "DoctorSpecialty_doctorId_specialityId_key" ON "public"."DoctorSpecialty"("doctorId", "specialityId");

-- CreateIndex
CREATE INDEX "Target_assignedToId_idx" ON "public"."Target"("assignedToId");

-- CreateIndex
CREATE INDEX "Target_assignedById_idx" ON "public"."Target"("assignedById");

-- CreateIndex
CREATE INDEX "Target_type_idx" ON "public"."Target"("type");

-- CreateIndex
CREATE INDEX "Target_category_idx" ON "public"."Target"("category");

-- CreateIndex
CREATE INDEX "Target_startDate_idx" ON "public"."Target"("startDate");

-- CreateIndex
CREATE INDEX "Target_endDate_idx" ON "public"."Target"("endDate");

-- CreateIndex
CREATE INDEX "Target_completedAt_idx" ON "public"."Target"("completedAt");

-- CreateIndex
CREATE INDEX "Target_isActive_idx" ON "public"."Target"("isActive");

-- CreateIndex
CREATE INDEX "Target_createdAt_idx" ON "public"."Target"("createdAt");

-- CreateIndex
CREATE INDEX "Target_updatedAt_idx" ON "public"."Target"("updatedAt");

-- CreateIndex
CREATE INDEX "TargetProgress_targetId_idx" ON "public"."TargetProgress"("targetId");

-- CreateIndex
CREATE INDEX "TargetProgress_date_idx" ON "public"."TargetProgress"("date");

-- CreateIndex
CREATE UNIQUE INDEX "TargetProgress_targetId_date_key" ON "public"."TargetProgress"("targetId", "date");

-- CreateIndex
CREATE INDEX "TargetResetLog_targetId_idx" ON "public"."TargetResetLog"("targetId");

-- CreateIndex
CREATE INDEX "TargetResetLog_resetType_idx" ON "public"."TargetResetLog"("resetType");

-- CreateIndex
CREATE INDEX "TargetResetLog_resetDate_idx" ON "public"."TargetResetLog"("resetDate");

-- CreateIndex
CREATE INDEX "Task_assignedToId_idx" ON "public"."Task"("assignedToId");

-- CreateIndex
CREATE INDEX "Task_assignedById_idx" ON "public"."Task"("assignedById");

-- CreateIndex
CREATE INDEX "Task_status_idx" ON "public"."Task"("status");

-- CreateIndex
CREATE INDEX "Task_priority_idx" ON "public"."Task"("priority");

-- CreateIndex
CREATE INDEX "Task_dueDate_idx" ON "public"."Task"("dueDate");

-- CreateIndex
CREATE INDEX "Task_createdAt_idx" ON "public"."Task"("createdAt");

-- CreateIndex
CREATE INDEX "Task_updatedAt_idx" ON "public"."Task"("updatedAt");

-- CreateIndex
CREATE INDEX "Task_taskType_idx" ON "public"."Task"("taskType");

-- CreateIndex
CREATE UNIQUE INDEX "TaskType_name_key" ON "public"."TaskType"("name");

-- CreateIndex
CREATE UNIQUE INDEX "InsuranceType_name_key" ON "public"."InsuranceType"("name");

-- CreateIndex
CREATE INDEX "Transaction_patientId_idx" ON "public"."Transaction"("patientId");

-- CreateIndex
CREATE INDEX "Transaction_hospitalId_idx" ON "public"."Transaction"("hospitalId");

-- CreateIndex
CREATE INDEX "Transaction_status_idx" ON "public"."Transaction"("status");

-- CreateIndex
CREATE INDEX "Transaction_month_year_idx" ON "public"."Transaction"("month", "year");

-- CreateIndex
CREATE INDEX "Transaction_source_idx" ON "public"."Transaction"("source");

-- CreateIndex
CREATE INDEX "Transaction_totalRevenue_idx" ON "public"."Transaction"("totalRevenue");

-- CreateIndex
CREATE INDEX "Transaction_createdAt_idx" ON "public"."Transaction"("createdAt");

-- CreateIndex
CREATE INDEX "Transaction_updatedAt_idx" ON "public"."Transaction"("updatedAt");

-- CreateIndex
CREATE UNIQUE INDEX "TransactionVisitSpeciality_transactionId_visitSpecialityId_key" ON "public"."TransactionVisitSpeciality"("transactionId", "visitSpecialityId");

-- CreateIndex
CREATE INDEX "Visit_patientId_idx" ON "public"."Visit"("patientId");

-- CreateIndex
CREATE INDEX "Visit_hospitalId_idx" ON "public"."Visit"("hospitalId");

-- CreateIndex
CREATE INDEX "Visit_coordinatorId_idx" ON "public"."Visit"("coordinatorId");

-- CreateIndex
CREATE INDEX "Visit_salesId_idx" ON "public"."Visit"("salesId");

-- CreateIndex
CREATE INDEX "Visit_visitDate_idx" ON "public"."Visit"("visitDate");

-- CreateIndex
CREATE INDEX "Visit_isEmergency_idx" ON "public"."Visit"("isEmergency");

-- CreateIndex
CREATE INDEX "Visit_createdAt_idx" ON "public"."Visit"("createdAt");

-- CreateIndex
CREATE INDEX "Visit_updatedAt_idx" ON "public"."Visit"("updatedAt");

-- CreateIndex
CREATE INDEX "VisitSpeciality_visitId_idx" ON "public"."VisitSpeciality"("visitId");

-- CreateIndex
CREATE INDEX "VisitSpeciality_specialityId_idx" ON "public"."VisitSpeciality"("specialityId");

-- CreateIndex
CREATE INDEX "VisitSpeciality_doctorId_idx" ON "public"."VisitSpeciality"("doctorId");

-- CreateIndex
CREATE INDEX "VisitSpeciality_status_idx" ON "public"."VisitSpeciality"("status");

-- CreateIndex
CREATE INDEX "VisitSpeciality_scheduledTime_idx" ON "public"."VisitSpeciality"("scheduledTime");

-- CreateIndex
CREATE INDEX "VisitSpeciality_eventType_idx" ON "public"."VisitSpeciality"("eventType");

-- CreateIndex
CREATE INDEX "VisitSpeciality_createdAt_idx" ON "public"."VisitSpeciality"("createdAt");

-- CreateIndex
CREATE INDEX "VisitSpeciality_updatedAt_idx" ON "public"."VisitSpeciality"("updatedAt");

-- CreateIndex
CREATE UNIQUE INDEX "VisitSpeciality_visitId_specialityId_doctorId_key" ON "public"."VisitSpeciality"("visitId", "specialityId", "doctorId");

-- CreateIndex
CREATE UNIQUE INDEX "FollowUpTask_taskId_key" ON "public"."FollowUpTask"("taskId");

-- CreateIndex
CREATE INDEX "FollowUpTask_patientId_idx" ON "public"."FollowUpTask"("patientId");

-- CreateIndex
CREATE INDEX "FollowUpTask_assignedToId_idx" ON "public"."FollowUpTask"("assignedToId");

-- CreateIndex
CREATE INDEX "FollowUpTask_assignedById_idx" ON "public"."FollowUpTask"("assignedById");

-- CreateIndex
CREATE INDEX "FollowUpTask_status_idx" ON "public"."FollowUpTask"("status");

-- CreateIndex
CREATE INDEX "FollowUpTask_createdAt_idx" ON "public"."FollowUpTask"("createdAt");

-- CreateIndex
CREATE INDEX "FollowUpTask_updatedAt_idx" ON "public"."FollowUpTask"("updatedAt");

-- CreateIndex
CREATE UNIQUE INDEX "EscortTask_appointmentId_key" ON "public"."EscortTask"("appointmentId");

-- CreateIndex
CREATE INDEX "EscortTask_appointmentId_idx" ON "public"."EscortTask"("appointmentId");

-- CreateIndex
CREATE INDEX "EscortTask_driverId_idx" ON "public"."EscortTask"("driverId");

-- CreateIndex
CREATE INDEX "EscortTask_status_idx" ON "public"."EscortTask"("status");

-- CreateIndex
CREATE UNIQUE INDEX "SpecialtyTask_visitId_key" ON "public"."SpecialtyTask"("visitId");

-- CreateIndex
CREATE INDEX "SpecialtyTask_visitId_idx" ON "public"."SpecialtyTask"("visitId");

-- CreateIndex
CREATE INDEX "SpecialtyTask_coordinatorId_idx" ON "public"."SpecialtyTask"("coordinatorId");

-- CreateIndex
CREATE INDEX "SpecialtyTask_status_idx" ON "public"."SpecialtyTask"("status");

-- CreateIndex
CREATE UNIQUE INDEX "NominationTask_nominationId_key" ON "public"."NominationTask"("nominationId");

-- CreateIndex
CREATE INDEX "NominationTask_nominationId_idx" ON "public"."NominationTask"("nominationId");

-- CreateIndex
CREATE INDEX "NominationTask_coordinatorId_idx" ON "public"."NominationTask"("coordinatorId");

-- CreateIndex
CREATE INDEX "NominationTask_status_idx" ON "public"."NominationTask"("status");

-- CreateIndex
CREATE INDEX "DataEntryTask_patientId_idx" ON "public"."DataEntryTask"("patientId");

-- CreateIndex
CREATE INDEX "DataEntryTask_dataEntryId_idx" ON "public"."DataEntryTask"("dataEntryId");

-- CreateIndex
CREATE INDEX "DataEntryTask_status_idx" ON "public"."DataEntryTask"("status");

-- CreateIndex
CREATE UNIQUE INDEX "SalesContactTask_nominationId_key" ON "public"."SalesContactTask"("nominationId");

-- CreateIndex
CREATE INDEX "SalesContactTask_nominationId_idx" ON "public"."SalesContactTask"("nominationId");

-- CreateIndex
CREATE INDEX "SalesContactTask_salesId_idx" ON "public"."SalesContactTask"("salesId");

-- CreateIndex
CREATE INDEX "SalesContactTask_status_idx" ON "public"."SalesContactTask"("status");

-- CreateIndex
CREATE INDEX "SalesContactTask_approvalStatus_idx" ON "public"."SalesContactTask"("approvalStatus");

-- AddForeignKey
ALTER TABLE "public"."Appointment" ADD CONSTRAINT "Appointment_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES "public"."Employee"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Appointment" ADD CONSTRAINT "Appointment_driverId_fkey" FOREIGN KEY ("driverId") REFERENCES "public"."Employee"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Appointment" ADD CONSTRAINT "Appointment_familyMemberId_fkey" FOREIGN KEY ("familyMemberId") REFERENCES "public"."family_members"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Appointment" ADD CONSTRAINT "Appointment_hospitalId_fkey" FOREIGN KEY ("hospitalId") REFERENCES "public"."Hospital"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Appointment" ADD CONSTRAINT "Appointment_patientId_fkey" FOREIGN KEY ("patientId") REFERENCES "public"."Patient"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Appointment" ADD CONSTRAINT "Appointment_salesPersonId_fkey" FOREIGN KEY ("salesPersonId") REFERENCES "public"."Employee"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Appointment" ADD CONSTRAINT "Appointment_visitId_fkey" FOREIGN KEY ("visitId") REFERENCES "public"."Visit"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."AppointmentSpeciality" ADD CONSTRAINT "AppointmentSpeciality_appointmentId_fkey" FOREIGN KEY ("appointmentId") REFERENCES "public"."Appointment"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."AppointmentSpeciality" ADD CONSTRAINT "AppointmentSpeciality_doctorId_fkey" FOREIGN KEY ("doctorId") REFERENCES "public"."Doctor"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."AppointmentSpeciality" ADD CONSTRAINT "AppointmentSpeciality_specialityId_fkey" FOREIGN KEY ("specialityId") REFERENCES "public"."Speciality"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."AuditLog" ADD CONSTRAINT "AuditLog_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."Employee"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Commission" ADD CONSTRAINT "Commission_employeeId_fkey" FOREIGN KEY ("employeeId") REFERENCES "public"."Employee"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Commission" ADD CONSTRAINT "Commission_nominationId_fkey" FOREIGN KEY ("nominationId") REFERENCES "public"."Nomination"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Commission" ADD CONSTRAINT "Commission_patientId_fkey" FOREIGN KEY ("patientId") REFERENCES "public"."Patient"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Commission" ADD CONSTRAINT "Commission_visitSpecialityId_fkey" FOREIGN KEY ("visitSpecialityId") REFERENCES "public"."VisitSpeciality"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Doctor" ADD CONSTRAINT "Doctor_hospitalId_fkey" FOREIGN KEY ("hospitalId") REFERENCES "public"."Hospital"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."EmployeeRole" ADD CONSTRAINT "EmployeeRole_assignedById_fkey" FOREIGN KEY ("assignedById") REFERENCES "public"."Employee"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."EmployeeRole" ADD CONSTRAINT "EmployeeRole_employeeId_fkey" FOREIGN KEY ("employeeId") REFERENCES "public"."Employee"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."family_members" ADD CONSTRAINT "family_members_patientId_fkey" FOREIGN KEY ("patientId") REFERENCES "public"."Patient"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."ImportExportLog" ADD CONSTRAINT "ImportExportLog_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."Employee"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."mobile_notifications" ADD CONSTRAINT "mobile_notifications_patientId_fkey" FOREIGN KEY ("patientId") REFERENCES "public"."Patient"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Nomination" ADD CONSTRAINT "Nomination_convertedToPatientId_fkey" FOREIGN KEY ("convertedToPatientId") REFERENCES "public"."Patient"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Nomination" ADD CONSTRAINT "Nomination_coordinatorId_fkey" FOREIGN KEY ("coordinatorId") REFERENCES "public"."Employee"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Nomination" ADD CONSTRAINT "Nomination_referrerId_fkey" FOREIGN KEY ("referrerId") REFERENCES "public"."Patient"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Nomination" ADD CONSTRAINT "Nomination_salesId_fkey" FOREIGN KEY ("salesId") REFERENCES "public"."Employee"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Nomination" ADD CONSTRAINT "Nomination_visitId_fkey" FOREIGN KEY ("visitId") REFERENCES "public"."Visit"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Notification" ADD CONSTRAINT "Notification_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."Employee"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."NotificationPreference" ADD CONSTRAINT "NotificationPreference_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."Employee"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Patient" ADD CONSTRAINT "Patient_assignedHospitalId_fkey" FOREIGN KEY ("assignedHospitalId") REFERENCES "public"."Hospital"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Patient" ADD CONSTRAINT "Patient_insuranceTypeId_fkey" FOREIGN KEY ("insuranceTypeId") REFERENCES "public"."InsuranceType"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Patient" ADD CONSTRAINT "Patient_referredById_fkey" FOREIGN KEY ("referredById") REFERENCES "public"."Patient"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Patient" ADD CONSTRAINT "Patient_salesPersonId_fkey" FOREIGN KEY ("salesPersonId") REFERENCES "public"."Employee"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."PatientAssignmentHistory" ADD CONSTRAINT "PatientAssignmentHistory_assignedById_fkey" FOREIGN KEY ("assignedById") REFERENCES "public"."Employee"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."PatientAssignmentHistory" ADD CONSTRAINT "PatientAssignmentHistory_patientId_fkey" FOREIGN KEY ("patientId") REFERENCES "public"."Patient"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."PatientAssignmentHistory" ADD CONSTRAINT "PatientAssignmentHistory_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."Employee"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."PatientHospitalMRN" ADD CONSTRAINT "PatientHospitalMRN_hospitalId_fkey" FOREIGN KEY ("hospitalId") REFERENCES "public"."Hospital"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."PatientHospitalMRN" ADD CONSTRAINT "PatientHospitalMRN_patientId_fkey" FOREIGN KEY ("patientId") REFERENCES "public"."Patient"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."RolePermission" ADD CONSTRAINT "RolePermission_permissionId_fkey" FOREIGN KEY ("permissionId") REFERENCES "public"."Permission"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."scan_records" ADD CONSTRAINT "scan_records_coordinatorId_fkey" FOREIGN KEY ("coordinatorId") REFERENCES "public"."Employee"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."scan_records" ADD CONSTRAINT "scan_records_familyMemberId_fkey" FOREIGN KEY ("familyMemberId") REFERENCES "public"."family_members"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."scan_records" ADD CONSTRAINT "scan_records_patientId_fkey" FOREIGN KEY ("patientId") REFERENCES "public"."Patient"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."DoctorSpecialty" ADD CONSTRAINT "DoctorSpecialty_doctorId_fkey" FOREIGN KEY ("doctorId") REFERENCES "public"."Doctor"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."DoctorSpecialty" ADD CONSTRAINT "DoctorSpecialty_specialityId_fkey" FOREIGN KEY ("specialityId") REFERENCES "public"."Speciality"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Target" ADD CONSTRAINT "Target_assignedById_fkey" FOREIGN KEY ("assignedById") REFERENCES "public"."Employee"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Target" ADD CONSTRAINT "Target_assignedToId_fkey" FOREIGN KEY ("assignedToId") REFERENCES "public"."Employee"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."TargetProgress" ADD CONSTRAINT "TargetProgress_targetId_fkey" FOREIGN KEY ("targetId") REFERENCES "public"."Target"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Task" ADD CONSTRAINT "Task_assignedById_fkey" FOREIGN KEY ("assignedById") REFERENCES "public"."Employee"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Task" ADD CONSTRAINT "Task_assignedToId_fkey" FOREIGN KEY ("assignedToId") REFERENCES "public"."Employee"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Task" ADD CONSTRAINT "Task_taskType_fkey" FOREIGN KEY ("taskType") REFERENCES "public"."TaskType"("name") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Transaction" ADD CONSTRAINT "Transaction_hospitalId_fkey" FOREIGN KEY ("hospitalId") REFERENCES "public"."Hospital"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Transaction" ADD CONSTRAINT "Transaction_patientId_fkey" FOREIGN KEY ("patientId") REFERENCES "public"."Patient"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Transaction" ADD CONSTRAINT "Transaction_recordedById_fkey" FOREIGN KEY ("recordedById") REFERENCES "public"."Employee"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."TransactionVisitSpeciality" ADD CONSTRAINT "TransactionVisitSpeciality_transactionId_fkey" FOREIGN KEY ("transactionId") REFERENCES "public"."Transaction"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."TransactionVisitSpeciality" ADD CONSTRAINT "TransactionVisitSpeciality_visitSpecialityId_fkey" FOREIGN KEY ("visitSpecialityId") REFERENCES "public"."VisitSpeciality"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Visit" ADD CONSTRAINT "Visit_coordinatorId_fkey" FOREIGN KEY ("coordinatorId") REFERENCES "public"."Employee"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Visit" ADD CONSTRAINT "Visit_hospitalId_fkey" FOREIGN KEY ("hospitalId") REFERENCES "public"."Hospital"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Visit" ADD CONSTRAINT "Visit_patientId_fkey" FOREIGN KEY ("patientId") REFERENCES "public"."Patient"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Visit" ADD CONSTRAINT "Visit_salesId_fkey" FOREIGN KEY ("salesId") REFERENCES "public"."Employee"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."VisitSpeciality" ADD CONSTRAINT "VisitSpeciality_doctorId_fkey" FOREIGN KEY ("doctorId") REFERENCES "public"."Doctor"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."VisitSpeciality" ADD CONSTRAINT "VisitSpeciality_specialityId_fkey" FOREIGN KEY ("specialityId") REFERENCES "public"."Speciality"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."VisitSpeciality" ADD CONSTRAINT "VisitSpeciality_visitId_fkey" FOREIGN KEY ("visitId") REFERENCES "public"."Visit"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."FollowUpTask" ADD CONSTRAINT "FollowUpTask_patientId_fkey" FOREIGN KEY ("patientId") REFERENCES "public"."Patient"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."FollowUpTask" ADD CONSTRAINT "FollowUpTask_assignedToId_fkey" FOREIGN KEY ("assignedToId") REFERENCES "public"."Employee"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."FollowUpTask" ADD CONSTRAINT "FollowUpTask_assignedById_fkey" FOREIGN KEY ("assignedById") REFERENCES "public"."Employee"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."EscortTask" ADD CONSTRAINT "EscortTask_appointmentId_fkey" FOREIGN KEY ("appointmentId") REFERENCES "public"."Appointment"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."EscortTask" ADD CONSTRAINT "EscortTask_driverId_fkey" FOREIGN KEY ("driverId") REFERENCES "public"."Employee"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."SpecialtyTask" ADD CONSTRAINT "SpecialtyTask_visitId_fkey" FOREIGN KEY ("visitId") REFERENCES "public"."Visit"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."SpecialtyTask" ADD CONSTRAINT "SpecialtyTask_coordinatorId_fkey" FOREIGN KEY ("coordinatorId") REFERENCES "public"."Employee"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."NominationTask" ADD CONSTRAINT "NominationTask_nominationId_fkey" FOREIGN KEY ("nominationId") REFERENCES "public"."Nomination"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."NominationTask" ADD CONSTRAINT "NominationTask_coordinatorId_fkey" FOREIGN KEY ("coordinatorId") REFERENCES "public"."Employee"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."DataEntryTask" ADD CONSTRAINT "DataEntryTask_patientId_fkey" FOREIGN KEY ("patientId") REFERENCES "public"."Patient"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."DataEntryTask" ADD CONSTRAINT "DataEntryTask_dataEntryId_fkey" FOREIGN KEY ("dataEntryId") REFERENCES "public"."Employee"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."SalesContactTask" ADD CONSTRAINT "SalesContactTask_nominationId_fkey" FOREIGN KEY ("nominationId") REFERENCES "public"."Nomination"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."SalesContactTask" ADD CONSTRAINT "SalesContactTask_salesId_fkey" FOREIGN KEY ("salesId") REFERENCES "public"."Employee"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."SalesContactTask" ADD CONSTRAINT "SalesContactTask_hospitalId_fkey" FOREIGN KEY ("hospitalId") REFERENCES "public"."Hospital"("id") ON DELETE SET NULL ON UPDATE CASCADE;

